:root{
    --w: #ffffff;
    --c01: #f7f7f7;
    --c02: #ededed;
    --c03: #dedede;
    --c04: #cccccc;
    --c05: #b2b2b2;
    --c06: #9c9c9c;
    --c07: #717171;
    --c08: #595959;
    --c09: #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --c12: #000000;
    --primary01: #ffbb00;
    --primary02: #e4a30b;
    --primary03: #a66f00;
    --primary04: #664400;
    --primary05: #332200;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.headerBg {
    background-color: var(--c12);
}
.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.headerMenu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.headerMenu a{
    padding: 16px 0;
    display: inline-block;
    color: var(--w);
    font-size: 1.125rem;
    position: relative;
}
.headerMenu a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--w);
    margin-top: 4px;
    position: absolute;
    transition: .3s;
}
.headerMenu a:hover:after{
    width: 100%;
}

@media (max-width: 800px) {
    .headerMenu{
        gap: 20px;
    }
    .headerMenu a{
        background: var(--c11);
        padding: 12px 16px;
        border-radius: 4px;
    }
    .headerMenu a:hover{
        background: var(--c10);
    }
    .header a::after{
        display: none;
    }
}
@media (max-width: 600px) {
    .headerMenu{
        gap: 12px;
    }
    .headerMenu a{
        background: var(--c11);
        padding: 8px 12px;
    }
}