.headerBg {
    background-color: var(--color12);
}
.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headerMenu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.headerMenu a{
    padding: 16px 0;
    color: var(--color00);
    display: inline-block;
    position: relative;
}
.headerMenu a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--color00);
    margin-top: 4px;
    position: absolute;
    transition: .3s;
}
.headerMenu a:hover:after{
    width: 100%;
}

/* Media Queries */
@media (max-width: 800px) {
    .headerMenu{
        gap: 20px;
    }
    .headerMenu a{
        background: var(--color11);
        padding: 12px 16px;
        border-radius: 4px;
    }
    .headerMenu a:hover{
        background: var(--color10);
    }
    .header a::after{
        display: none;
    }
}
@media (max-width: 600px) {
    .headerMenu{
        gap: 12px;
    }
    .headerMenu a{
        background: var(--color11);
        padding: 8px 12px;
        font-size: .875rem;
    }
}
@media (max-width: 480px) {
    .header{
        flex-direction: column;
    }
}